<!-- search bar -->
<div class="row">
  <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-6  mx-auto" id="search-bar">
    <nav class="navbar navbar-light ">
      <form class="form-inline d-flex justify-content-between w-100 " action="/restaurants/search">
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="input-group-text bg-white " type="submit" id="search-button"
              style="border-radius: 50% 0 0 50%;">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <input type="text" name="keyword" class="form-control border-left-0 " placeholder="輸入餐廳、分類"
            aria-label="Restaurant Name..." value="{{keyword}}" aria-describedby="search-button"
            style="border-radius: 0 25px 25px 0;">
        </div>
        <select class="custom-select" onChange="location = this.options[this.selectedIndex].value;">
          <option selected>分類排序</option>
          <option value="http://localhost:3000/restaurants?search_order=name">A到Z</option>
          <option value="http://localhost:3000/restaurants?search_order=-name">Z到A</option>
          <option value="http://localhost:3000/restaurants?search_order=category">類別</option>
          <option value="http://localhost:3000/restaurants?search_order=location">地區</option>
        </select>
      </form>
    </nav>
  </div>
</div>



<!-- restaurant list -->
{{!-- edit detail delete --}}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurants}}
          <a href="/restaurants/{{this._id}}" class="text-secondary">
            <div class="card mb-3">
              <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
              <div class="card-body p-3">
                <h6 class="card-title mb-1">{{this.name}}</h6>

                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{this.category}}
                </div>

                <span class="badge badge-pill badge-danger font-weight-normal">
                  {{this.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>
              </div>

              <div class="card-footer options mt-0 pr-2 d-flex justify-content-end"
                style="background-color: rgba(,255,204,0.2);">
                <a class="mr-2 mt-1" href="/restaurants/{{this._id}}/edit">Edit</a>
                <a class="mr-2 mt-1" href="/restaurants/{{this._id}}">Detail</a>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                  Delete
                </button>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                          您正在刪除一筆餐廳資料
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        確定要刪除嗎?放棄也是一種選擇唷！
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">放棄</button>
                        <form method="POST" action="/restaurants/{{this._id}}/delete?_method=DELETE"
                          style="display: inline;">
                          <button class="btn btn-danger p-1 btn-lg" type="submit">刪除</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>


              </div>

            </div>
          </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>